@model ManagementSystem.ViewModels.CitiesVM.CitiesListVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

   
    <p>
        @Html.ActionLink("Create New", "Edit")
    </p>

@using (Html.BeginForm("List", "Cities", FormMethod.Get))
{
    <div>
        Search: @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "List", "Cities", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "name_asc" ? "name_desc" : "name_asc" }, { "Search", Model.Search } }, null)
            </th>
            <th>
                @Html.ActionLink("Post code", "List", "Cities", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "postcode_asc" ? "postcode_desc" : "postcode_asc" }, { "Search", Model.Search } }, null)
            </th>            
            <th></th>
        </tr>
    
    @foreach (var item in Model.Cities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |                
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
        @Scripts.Render("~/Scripts/jquery")
        @Scripts.Render("~/Scripts/bootstrap")
    </table>
