@model ManagementSystem.ViewModels.CitiesVM.CitiesListVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Edit")
    </p>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Post Code
            </th>            
            <th></th>
        </tr>
    
    @foreach (var item in Model.Cities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>           
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |                
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
