<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")

    <style>
        .body-content {
            padding-top: 80px;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ManagamentSystem", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Countries", "List", "Countries")</li>
                    <li>@Html.ActionLink("Cities", "List", "Cities")</li>
                    <li>@Html.ActionLink("Users", "List", "Users")</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @System.Web.Optimization.Scripts.Render("~/Scripts/jquery")
    @System.Web.Optimization.Scripts.Render("~/Scripts/bootstrap")

    @RenderSection("FooterSection", false)
</body>
</html>