@model ManagementSystem.ViewModels.CountriesVM.CountriesListVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <p>
        @Html.ActionLink("Create New", "Edit")
    </p>

@using (Html.BeginForm("List", "Countries", FormMethod.Get))
{
    <div>
        Search: @Html.TextBoxFor(model => model.Search, new { @class = "form-control" })
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
}
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "List", "Countries", new RouteValueDictionary { { "SortOrder", Model.SortOrder == "name_asc" ? "name_desc" : "name_asc"},{ "Search", Model.Search } },null)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model.Countries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |                
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>

